body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #0000aa;
  /* border: 1px solid #000000; */
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 728px;
  height: 90px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */
@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}
@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
}


/* Text */

#text_holder {
  color: #fff;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 24px;
  line-height: 23.5px;
  letter-spacing: -0.3px;
}
#h1,
#h2,
#h3 {
  width: 320px;
  left: 17px;
  top: 20px;
}
#h1 .color{
  letter-spacing: -0.7px;
  color: #00e1ff;
}
#h1 .line{
  letter-spacing: -0.7px;
}
#h2{
  top: 24px;
  font-size: 17px;
  line-height: 19.5px;
  letter-spacing: -0.4px;
}
#h2 .color{
  color: #00e1ff;
}
#h2 sup{
  font-size: 13px;
  line-height: 1;
  vertical-align: super;
  position: relative;
  top: 0px;
  margin: 0;
  display: inline;
}

#endframeBg {
  position: absolute;
  top: 0px;
  height: 90px;
  width: 100%;
  background: #FFFFFF;
  left: 503px;
}

#pinkRibbon {
  position: relative;
  top: 0;
  height: 100%;
  width: 10px;
  background: #ed7042;
  z-index: 1;
  left: 0px;
}

#blueBottomCard {
  background-color: #0000aa;
  width: 218px;
  height: 90px;
  right: 0px;
  bottom: 0px;
}

#logo {
  width: 98px;
  height: auto;
  right: 16px;
  top: 29px;
  position: absolute;
  z-index: 11;
}

#cta {
  width: 85px;
  height: 22.99px;
  bottom: 34px;
  right: 17px;
  background-color: #fff;
  border-radius: 4px;
  font-family: "ESKlarheitGrotesk Smbd";
  color: #0000aa;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.terms{
  color: #fff;
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 7px;
  line-height: 7px;
  letter-spacing: -0.02em;
  right: 1px;
  width: 90px;
  bottom: 14px;
  z-index: 11;
}
.window{
  width: 728px;
  height: 90px;
}