body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #00e1ff;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 468px;
  height: 60px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 468px;
  height: 60px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 468px;
  height: 60px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */
@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}
@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
}


/* Text */

#text_holder {
  color: #0000aa;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 17.1px;
  line-height: 18px;
  letter-spacing: -1px;
}
#h1,
#h2,
#h3 {
  width: 460px;
  left: 11px;
  top: 11px;
}
#h2{
  top: 18px;
  font-size: 10.3px;
  line-height: 13.2px;
  letter-spacing: 0.1px;
}
#h2 sup{
  font-size: 5px;
  line-height: 1;
  vertical-align: super;
  position: relative;
  top: -4px;
  margin: 0;
  display: inline;
  margin-left: 0px;
}

#endframeBg {
  position: absolute;
  top: 0px;
  height: 60px;
  width: 100%;
  background: #FFFFFF;
  left: 317px;
}

#pinkRibbon {
  position: relative;
  top: 0;
  height: 100%;
  width: 4px;
  background: #fc3388;
  z-index: 1;
  left: 0px;
}

#blueBottomCard {
  background-color: #0000aa;
  width: 147px;
  height: 60px;
  right: 0px;
  bottom: 0px;
}

#logo {
  width: 81px;
  height: auto;
  right: 33px;
  top: 12.5px;
  position: absolute;
  z-index: 11;
}

#cta {
  width: 85px;
  height: 22.99px;
  bottom: 34px;
  right: 17px;
  background-color: #fff;
  border-radius: 4px;
  font-family: "ESKlarheitGrotesk Smbd";
  color: #0000aa;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.terms{
  color: #fff;
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 6.3px;
  line-height: 7px;
  letter-spacing: -0.02em;
  right: 11px;
  width: 140px;
  bottom: 3px;
  z-index: 11;
  text-align: right;
}
#term2 {
  bottom: 3px;
  font-size: 6.1px;
  left: 9px;
  text-align: left;
  color: #0000aa;
}
#term2 sup{
  font-size: 5px;
  line-height: 1;
  vertical-align: super;
  position: relative;
  top: 0px;
  margin: 0;
  display: inline;
}
.window{
  width: 468px;
  height: 60px;
}