body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #66ddfb;
  /* border: 1px solid #000000; */
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 160px;
  height: 600px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */
@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}
@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
}


/* Text */

#text_holder {
  color: #fff;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 22.5px;
  line-height: 25.5px;
  letter-spacing: -0.1px;
}
#h1,
#h2,
#h3 {
  width: 160px;
  left: 8px;
  top: 97px;
}
#h2{
  top: 90px;
  font-size: 16px;
  line-height: 18.5px;
  letter-spacing: -0.4px;
}
#h2 sup{
  font-size: 12px;
  line-height: 1;
  vertical-align: super;
  position: relative;
  top: -3px;
  margin: 0;
  display: inline;
  left: 1px;
}

#endframeBg {
  position: absolute;
  top: 170px;
  height: 600px;
  width: 100%;
  background: #FFFFFF;
}
#pinkRibbon {
  position: relative;
  top: 449px;
  height: 10px;
  width: 100%;
  background: #beff78;
}

#blueBottomCard {
  background-color: #0000aa;
  width: 160px;
  height: 141px;
  left: 0px;
  bottom: 0px;
}

#logo {
  width: 79px;
  height: auto;
  left: 41px;
  top: 479px;
  position: absolute;
  z-index: 11;
}

#cta {
  width: 85px;
  height: 22.99px;
  bottom: 55px;
  left: 38px;
  background-color: #fff;
  border-radius: 4px;
  font-family: "ESKlarheitGrotesk Smbd";
  color: #0000aa;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.terms{
  color: #fff;
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 7px;
  line-height: 7px;
  letter-spacing: -0.02em;
  left: 15px;
  width: 160px;
  bottom: 38px;
  z-index: 11;
}
#term2 {
  top: 565px;
  left: 15px;
  font-size: 7.2px;
  line-height: 8.5px;
}
#term3 {
  top: 584px;
  left: 15px;
  font-size: 7.2px;
}
#term2 sup, #term3 sup{
  font-size: 5px;
  line-height: 1;
  vertical-align: super;
  position: relative;
  top: 0px;
  margin: 0;
  display: inline;
}
.window{
  width: 160px;
  height: 600px;
}
#cloud{
  width: 200px;
  top: 288px;
  left: -69px;
}